back_end/biggan/notebooks/outputs/*
.DS_Store
front_end/latent_garden_godot/.import/*
back_end/biggan/pretrained/*
front_end/latent_garden_godot/Data/*.jpg
front_end/latent_garden_godot/Data/*.png
front_end/latent_garden_godot/Data/*/*.png
front_end/latent_garden_godot/Data/*/*.jpg
front_end/latent_garden_godot/Data/*/*/*.png
front_end/latent_garden_godot/Data/*/*/*.jpg
*.import
tmp/
