back_end/biggan/notebooks/outputs/*
.DS_Store
front_end/latent_garden_godot/.import/*
back_end/biggan/pretrained/*
front_end/latent_garden_godot/Data/*.jpg
front_end/latent_garden_godot/Data/*.png
front_end/latent_garden_godot/Data/*/*.png
front_end/latent_garden_godot/Data/*/*.jpg
front_end/latent_garden_godot/Data/*/*/*.png
front_end/latent_garden_godot/Data/*/*/*.jpg
*.import
tmp/
pyenv/
env/
__pycache__/
rnn-generated-poetry/
vae-lagging-encoder/
vae-lagging-encoder/
sle_gan/
*.h5
*.jpg
*.png
back_end/umap_sky_watch_images/output/*.csv
ui_sketch_assets/
